<nav>
	<ul>
		<li><a href="/">Start Page</a></li>
		<li><a href="/Calculator">Basic Search</a></li>
		<li><a href="/Inquiries">Average Age</a></li>
		<li><a href="/Total">Total</a></li>
		<li><a href="/Complex">Complex</a></li>
		<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
		<link rel="stylesheet" href="/public/styles.css">
	</ul>
</nav>
