<html>
<head>
  <meta charset="UTF-8">
  <title>HTML5 Contact Form </title>
  
  <% include partials/nav.ejs %>
  
  
      <link rel="stylesheet" href="/public/styles.css">

  
</head>

<body>
  <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
<header class="ccheader">
    <h1>Start</h1>	
</header>

<div class="credit">
<p>Welcome to the database! The navigation bar allows you to choose from a myriad of options. Enjoy!</p>

</div>
  
  
</body>
</html>
